.button_type_close{
    background: url(../../../images/close.svg) center center no-repeat;
    background-size: cover;
    width: 41px;
    height: 41px;
    right: -35px;
    top: -35px;
    position: absolute;
    border: 0;
    padding: 0;
}

@media (max-width: 500px){
    .button_type_close{
        width: 34px;
        height: 34px;
        right: -28px;
        top: -28px;
    }
}