.root{
    max-width: 882px;
    margin: 0 auto;
<<<<<<< HEAD
<<<<<<< HEAD
    min-height: 100vh;
    display: flex;
    flex-direction: column;
=======
    display: flex;
    flex-direction: column;
    min-height: 100vh;
>>>>>>> develop
=======
    flex-direction: column;
    min-height: 100vh;
    display: flex;
>>>>>>> develop
}