.popup__image-title{
    position: absolute;
    left: 0;
    bottom: -25px;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    margin: 0;
    padding-top: 10px;
    color: #fff;
}