.profile__info{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width:768px){
    .profile__info{
        text-align: center;
        padding-top: 12px;
    }
}