.button_type_like{
    background: url("../../../images/like.svg") center center no-repeat;
    width: 21px;
    height: 19px;
    outline: none;
    border: 0;
    cursor: pointer;
    justify-self: end;
}